<!--
	RecommendedRenderings.config

	This file configures the Recommendation Renderings module, which preparing a list of recommended renderings 
  and placeholders during selecting renderings.
	
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <!-- Determines the prefix for Recommended Renderings control. It allows us to use a control in the xml dialogs. -->
      <source mode="on" namespace="RecommendedRenderings.Controls" assembly="RecommendedRenderings" prefix="ERS" />
    </controlSources>
    <settings>
      <!--  CONTENT ROOT PATH
            Recommended Renderings will be shown just for the selected root item and his childs.
            It is better to specify a content root which you currently work with. It will reduce a time of rebuild index 
            and preparing the recommended renderings list.
            Default: /sitecore/content
      -->
      <setting name="ContentRootPath" value="/sitecore/content" />
      <!--  DATABASE NAME
            Determines the database that used by the Recommended Renderings module for preparing the list of recommendations.
            It have to be the same database which is configured for the "recommended-renderings-index" index.
            Usually it is "master" and wouldn't be changed.
            Default: master
      -->
      <setting name="DatabaseName" value="master" />
      <!--  IS EXPANDED DEFAULT
            If true, the Recommended Renderings tree will be expanded by default.
            Default: false
      -->
      <setting name="IsExpandedDefault" value="false" />
      <!--  PLACEHOLDER SETTINGS ROOT PATH
            Recommended placeholders list will be shown just for the selected root item and his childs.
            It is better to specify a content root which you currently work with. It will reduce a time of rebuild index 
            and preparing the recommended placeholders list.
            Default: /sitecore/layout/Placeholder Settings
      -->
      <setting name="PlaceholderSettingsRootPath" value="/sitecore/layout/Placeholder Settings" />
      <!--  TREEVIEW ROOT ICON
            Default icon for root element of the recommended renderings list.
            Default: Applications/16x16/windows.png
      -->
      <setting name="TreeviewRootIcon" value="Applications/16x16/windows.png" />
    </settings>
  </sitecore>
</configuration>