<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <!-- If no configuration is specified for an index, it uses the default configuration. The configurations are not merged if the index also has a
             configuration. The system uses either the default configuration or the index configuration. -->
        <RecommendedRenderings type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">

          <!-- This flag will index all fields by default. This allows new fields in your templates to automatically be included into the index.
								 You have two choices :

								 1) Set this to 'true' and place all the fields that you would like to remove in the 'ExcludeField' list.
								 2) Set to false and place all fields you would like to be indexed in the 'IncludeField' list below.
						-->
          <!-- Should index Initialize() method be called as soon as the index is added or wait for an external trigger -->
          <initializeOnAdd>true</initializeOnAdd>

          <!-- Re-use from the default lucene configuration.. -->
          <Analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer"/>

          <fieldMap ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldMap">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="Allowed Controls" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              <field fieldName="Placeholder Key" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider"/>
              </fieldNames>
          </fieldMap>

          <!-- Re-use from the default lucene configuration.. -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders"/>
          <!-- Re-use from the default lucene configuration.. -->
          <virtualFields ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/virtualFields"/>

          <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
            <!-- This flag will index all fields by default. This allows new fields in your templates to automatically be included into the index.
               You have two choices : 
               
               1) Set this to 'true' and place all the fields that you would like to remove in the 'ExcludeField' list.
               2) Set to false and place all fields you would like to be indexed in the 'IncludeField' list below.
            -->
            <indexAllFields>false</indexAllFields>

            <!-- GLOBALLY INCLUDE FIELDS IN INDEX
                 This setting allows you to specify which fields to include in the index when the indexAllFields setting is set to false.
            -->
            
            <include hint="list:AddIncludedField">
              <fieldId>{7256BDAB-1FD2-49DD-B205-CB4873D2917C}</fieldId>
              <fieldId>{E391B526-D0C5-439D-803E-17512EAE6222}</fieldId>
            </include>
            
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="recommended_rendering" storageType="YES" indexType="TOKENIZED">RecommendedRenderings.Search.Fields.RecommendedRenderingsComputedField, RecommendedRenderings</field>
            </fields>
          </documentOptions>

          
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter"/>
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper"/>

          <!-- DOCUMENT BUILDER
               Allows you to override the document builder. The document builder class processes all the fields in the Sitecore items and prepares
               the data for storage in the index.
               You can override the document builder to modify how the data is prepared, and to apply any additional logic that you may require.
          -->
          <documentBuilderType>Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilder, Sitecore.ContentSearch.LuceneProvider</documentBuilderType>
          <!-- DEFAULT SEARCH SECURITY OPTION
             This setting is the default search security option that will be used if the search security option is not specified during the creation
             of search context. The accepted values are DisableSecurityCheck and EnableSecurityCheck.
        -->
          <defaultSearchSecurityOption>DisableSecurityCheck</defaultSearchSecurityOption>
        </RecommendedRenderings>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
