<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <RecommendedRenderings type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">

          <indexAllFields xdt:Transform="InsertAfter(/configuration/sitecore/contentSearch/indexConfigurations/RecommendedRenderings/initializeOnAdd)">false</indexAllFields>

          <virtualFields  xdt:Transform="Remove" />

          <virtualFieldProcessors hint="raw:AddVirtualFieldProcessor" xdt:Transform="InsertAfter(/configuration/sitecore/contentSearch/indexConfigurations/RecommendedRenderings/fieldReaders)">
            <virtualFieldProcessor fieldName="daterange"        type="Sitecore.ContentSearch.VirtualFields.DateRangeFieldProcessor, Sitecore.ContentSearch" />
            <virtualFieldProcessor fieldName="updateddaterange" type="Sitecore.ContentSearch.VirtualFields.UpdatedDateRangeFieldProcessor, Sitecore.ContentSearch" />
            <virtualFieldProcessor fieldName="_lastestversion"  type="Sitecore.ContentSearch.VirtualFields.LatestVersionFieldProcessor, Sitecore.ContentSearch" />
            <virtualFieldProcessor fieldName="_url"             type="Sitecore.ContentSearch.VirtualFields.UniqueIdFieldProcessor, Sitecore.ContentSearch" />
          </virtualFieldProcessors>

          <!-- GLOBALLY INCLUDE FIELDS IN INDEX
               This setting allows you to specify which fields to include in the index when the indexAllFields setting is set to false.
          -->

          <include hint="list:IncludeField" xdt:Transform="InsertAfter(/configuration/sitecore/contentSearch/indexConfigurations/RecommendedRenderings/virtualFieldProcessors)">
            <fieldId>{7256BDAB-1FD2-49DD-B205-CB4873D2917C}</fieldId>
            <fieldId>{E391B526-D0C5-439D-803E-17512EAE6222}</fieldId>
          </include>

          <fields hint="raw:AddComputedIndexField" xdt:Transform="InsertAfter(/configuration/sitecore/contentSearch/indexConfigurations/RecommendedRenderings/virtualFieldProcessors)">
            <field fieldName="recommended_rendering" storageType="YES" indexType="TOKENIZED">RecommendedRenderings.Search.Fields.RecommendedRenderingsComputedField, RecommendedRenderings</field>
          </fields>

          <documentOptions xdt:Transform="Remove" />

        </RecommendedRenderings>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>